<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="icon" href="images/favicon.ico">
		<!--<link rel="shortcut icon" href="images/favicon.ico">-->
		<link rel="stylesheet" href="http://localhost:64357/Content/camera.css">
		<link rel="stylesheet" href="http://localhost:64357/Content/component.css">
		<link rel="stylesheet" href="http://localhost:64357/Content/style.css">
		<script src="http://localhost:64357/Scripts/jquery.js"></script>
		<script src="http://localhost:64357/Scripts/jquery-migrate-1.1.1.js"></script>
		<script src="http://localhost:64357/Scripts/jquery.equalheights.js"></script>
		<script src="http://localhost:64357/Scripts/jquery.ui.totop.js"></script>
		<script src="http://localhost:64357/Scripts/jquery.easing.1.3.js"></script>
		<script src="http://localhost:64357/Scripts/camera.js"></script>
		<script src="http://localhost:64357/Scripts/snap.svg-min.js"></script>
		<!--[if (gt IE 9)|!(IE)]><!-->
		<script src="http://localhost:64357/Scripts/jquery.mobile.customized.min.js"></script>
		<!--<![endif]-->
		<script>
		   
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
		<!--[if lt IE 10]>
		<link rel="stylesheet" media="screen" href="css/ie1.css">
		<![endif]-->
	</head>
    <body class="page1">
<!--==============================header=================================-->
        <header>
            <div class="container_12">
                <div class="grid_12">
                    <h1><a href=""><img src="imagens/logo.png" alt="Boo House"></a></h1>
                </div>
            </div>
        </header>
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
       @*@RenderSection("scripts", required: false)*@
    </body>
    

</html>
